{
    "elasticsearch": "{{ elasticsearch_url }}",
    "results": "{{ results_url }}",
    "graphql": "{{ graphql_url }}",
    "result_index": "{{ result_index }}",
    "run_index": "{{ run_index }}",
    "prefix": "{{ prefix }}"
}
