.avatar {
  width: 20%;
}

.avatarDiv {
  margin-left: 40%;
  width: 100%;
}

.userNameDiv {
  margin-top: 5%;
  text-align: center;
}

.profileCard {
  height: 85vh;
  background-color: white;
}

.logoutIcon {
  float: right;
}

.pf-c-switch__input:checked ~ .pf-c-switch__toggle::before {
  background-color: white !important;
}

[class*='pf-c-switch']::before {
  background-color: white;
}

span .pf-c-switch__toggle {
  background-color: var(--pf-c-switch__toggle--BackgroundColor);
  margin-right: 15px;
}

.pageHeader {
  display: none;
}
