<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pbench Dashboard</title>
  <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon">
  
  <!-- runtime endpoints config -->
  <script type="text/javascript">
    fetch( '/api/v1/endpoints' )
      .then(response => {
        console.log(`RESPONSE: ${response.status},${response.statusText}`);
        if (response.ok) {
          response.text().then(data => {
            console.log(`ENDPOINTS: ${data}`);
            window.endpoints = JSON.parse(data);
          }).catch(error => console.log(`ERROR data: ${error}`))
        } else {
          console.log(`NOTOK: ${response}`);
        }
      })
      .catch(error => console.log(`ERROR: ${error}`));
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
