body {
  background-color: transparent;
}

.mainDiv {
  height: 100vh;
}

.form {
  width: 110%;
  margin: 5%;
  overflow: scroll;
  background-color: white;
}

.section {
  padding: 0 10% 5% 10%;
}

.continueBtn {
  padding: 0;
  font-size: medium;
}

.inlineLink {
  margin: 0;
  font-size: var(--pf-global--FontSize--xl);
}

.sideGrid {
  margin-top: 100px;
}

.logo {
  width: 100px;
  height: auto;
}

.sideGridItem {
  margin-top: 60px;
}

.sideGrid h4 {
  padding-right: 20px;
  color: white;
  font-size: var(--pf-global--FontSize--xl);
}

.btn {
  margin-bottom: 1em;
  padding: 10px;
  color: white;
}

.restLoginDiv {
  padding: 5%;
  text-align: center;
  background-color: var(--pf-global--BackgroundColor--300);
}
