@import '../../../node_modules/@patternfly/react-core/dist/styles/base.css';

body {
  background-color: transparent;
}

.form {
  background-color: white;
  width: 110%;
}

.section {
  padding: 5% 10% 5% 10%;
}

.inlineLink {
  font-size: var(--pf-global--FontSize--xl);
}

.sideGrid {
  margin-top: 100px;
}

.logo {
  width: 100px;
  height: auto;
}

.sideGridItem {
  margin-top: 60px;
}

.sideGrid h4 {
  color: white;
  font-size: var(--pf-global--FontSize--xl);
  padding-right: 20px;
}
