.table-wrapper {
  overflow-x: auto;
}

tr:is(.pf-m-hoverable):hover {
  background: var(--pf-global--BackgroundColor--light-200);
  border-left: 4px solid var(--pf-c-card--m-selectable--m-selected--before--BackgroundColor);
  box-shadow: var(--pf-c-table--tbody--m-hoverable--hover--BoxShadow);
}
